h1{
    font-size: 40px; /* tamanho da letra */
    color: white;/* cor branca */
    background-color: darkred; /* fundo vermelho escuro */
    border-style: solid;/* borda sólida, preta linha normal */
    border-width: 5px;/* largura da borda */
    border-color: red; /* cor da borda */
    font-family: sans-serif; /* fonte */
    text-align: center;/* texto no centro da tela */
    border-radius: 10px;/* arredonda a borda */
    padding: 10px; /* é a margem de dentro, vamos dizer q é o tamanho da lousa */
}

h4{
    font-size: 20px;
    color: white;
    background-color: rgb(80, 70, 70);
    border-style: solid;
    border-color: red;
    border-width: 2px;
    font-family: sans-serif;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}

/* MENU HORIZONTAL */

#menu ul{
    /* NÃO PRECISA POR VIRGULA NO #MENU UL, PORQUE O UL ESTÁ DENTRO NO MENU,
     SÓ ESTOU EXPECIFICANDO OQ É PRA ESTILIZAR DENTRO DO MENU */
    padding: 10px;
    margin: 0;
    background-color: #2b1010;
    list-style: none;
}

#menu ul li {
    display: inline; /* é oq tem na tela, fica na mesma linha as palavras, nesse caso */
}
#menu ul li a {
    padding: 10px 30px;
    text-decoration: none;
}